@import "variables";

.container {
  max-width: 1700px;
  height: 100%;
  margin: 0 auto;

  h1 {
    text-align: center;
    font-family: "Lato";
    font-weight: 700;
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.itemBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 250px;
  height: 320px;
  padding: 20px;
  margin: 15px 10px;
  border: 1px solid $color-primary;
  border-radius: 15px;
  background-color: $color-white;

  &:hover {
    box-shadow: 5px 10px #888888;
    background-color: $color-white;
  }

  h2 {
    font-family: "Lato";
    font-weight: 700;
    margin-bottom: 15px;
  }
  p {
    font-family: "Lato";
    font-weight: 400;
  }
}

.link {
  text-decoration: none;
  color: inherit;
}

//loader

.loader {
  border: 16px solid $color-white;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

//pagination
.pagination {
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    border-radius: 5px;
    width: 90px;
    height: 30px;
    margin: 5px 10px;
    padding: 5px 15px;
    background-color: $color-black;
    color: $color-white;
    &:hover {
      background-color: $color-white;
      color: $color-black;
      cursor: pointer;
    }
  }

  p {
    font-family: "Lato";
    font-weight: 700;
    line-height: 1.2;
    font-size: 16px;
  }
}
